<h1>Liste de Pokémons</h1>

<!-- (J'utilise l'event keyup pour intercepter l'évènement à chaque fois que l'utilisateur tape quelque chose)
J'utilise keyup.enter pour détecter lorsque l'utilisateur appuie sur Entrée afin de déclencher l'évènement à ce moment-là
-->
<input
   type="number"
   #input
   (keyup.enter)="selectPokemon(input.value)"
/>
<!-- Le contenu de l'input sera affiché ici grâce à #input
*ngIf permet de conditionner l'affichage. Grâce à la variable pokemonSelected qui repère si un pokemon a été sélectionné ou non, l'affichage de cette partie se fera en fonction de cette variable
-->
<P *ngIf="pokemonSelected">
   Vous avez sélectionné le pokémon : {{ pokemonSelected.name }}
</P>
<!-- Quand je n'ai aucun pokemon de trouvvé -->
<P *ngIf="!pokemonSelected">
   Aucun pokémon n'a été trouvé.
</P>


<!-- <ul>
   <li>{{ pokemonList[0].name }}</li>
   <li>{{ pokemonList[1].name }}</li>
   <li>{{ pokemonList[2].name }}</li>
   <li>{{ pokemonList[3].name }}</li>
   <li>{{ pokemonList[4].name }}</li>
   <li>{{ pokemonList[5].name }}</li>
   <li>{{ pokemonList[6].name }}</li>
   <li>{{ pokemonList[7].name }}</li>
   <li>{{ pokemonList[8].name }}</li>
   <li>{{ pokemonList[9].name }}</li>
   <li>{{ pokemonList[10].name }}</li>
   <li>{{ pokemonList[11].name }}</li>
</ul> 
Au lieu de tout taper à la main, on va utiliser *ngFor
-->
<ul>
   <!-- Je déclare ma boucle grâce au tableau initialisé dans le composant -->
   <li *ngFor="let pokemon of pokemonList">
      {{ pokemon.name }}
   </li>
</ul>