<h1>Liste de Pokémons</h1>
<ul>
   <!-- J'utilise l'event keyup pour intercepter l'évènement à chaque fois que l'utilisateur tape quelque chose -->
  <input
      type="number"
      #input
      (keyup)="selectPokemon(input.value)"
   />
   <!-- Le contenu de l'input sera affiché ici grâce à #input -->
   <li>{{ pokemonSelected?.name }}</li>
   <li>{{ pokemonList[0].name }}</li>
   <li>{{ pokemonList[1].name }}</li>
   <li>{{ pokemonList[2].name }}</li>
   <li>{{ pokemonList[3].name }}</li>
   <li>{{ pokemonList[4].name }}</li>
   <li>{{ pokemonList[5].name }}</li>
   <li>{{ pokemonList[6].name }}</li>
   <li>{{ pokemonList[7].name }}</li>
   <li>{{ pokemonList[8].name }}</li>
   <li>{{ pokemonList[9].name }}</li>
   <li>{{ pokemonList[10].name }}</li>
   <li>{{ pokemonList[11].name }}</li>
</ul>
