<h1>Liste de Pokémons</h1>
<ul>
   <input type="number" (click)="selectPokemon($event)">
   <li>{{ pokemonList[0].name }}</li>
   <li>{{ pokemonList[1].name }}</li>
   <li>{{ pokemonList[2].name }}</li>
   <li>{{ pokemonList[3].name }}</li>
   <li>{{ pokemonList[4].name }}</li>
   <li>{{ pokemonList[5].name }}</li>
   <li>{{ pokemonList[6].name }}</li>
   <li>{{ pokemonList[7].name }}</li>
   <li>{{ pokemonList[8].name }}</li>
   <li>{{ pokemonList[9].name }}</li>
   <li>{{ pokemonList[10].name }}</li>
   <li>{{ pokemonList[11].name }}</li>
</ul>